# Mid-term Exam

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UTA-DataScience/DATA1401.2020.Fall/blob/master/Exams/Mid-term/Exam.ipynb)

Add cells to this notebook as you need for your solutions and your test of your solutions.

1a. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [ ]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

should return the string `"Alabama"`. Note that you can compare strings:

In [ ]:
print("A">"B")
print("B">"A")
print("A">"a")
print("bca">"bbc")

False
True
False
True

In [ ]:
def first_alphabetically(lst):
  min = lst[0]
  for i in range(len(lst)):
    if lst[i]<min:
      min = lst[i]
  return min

In [ ]:
first_alphabetically(states)

'Alabama'

Make sure your implementation isn't case sensitive. **Do not use** python's built-in `min`, `max`, `sort` or any other sort function you find.

1b. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [ ]:
def arg_first_alphabetically(lst):
  min = lst[0]
  index = 0
  for i in range(len(lst)):
    if lst[i]<min:
      min = lst[i]
      index = i
  return index

print(states[23])

Alabama

In [ ]:
arg_first_alphabetically(states)

23

1c. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [ ]:
def arg_sort_alphabetically(lst):
  new_list=list()
  for i in range(len(lst)):
    index = arg_first_alphabetically(lst)
    new_list.append(lst[index])
    lst.pop(index)
  return new_list

In [ ]:
arg_sort_alphabetically(states)

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

2. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [ ]:
def outer_product(lstA,lstB):
  lstC = [[0 for i in range(len(lstA))]for j in range(len(lstB))]
  for k in range(len(lstA)):
    for l in range(len(lstB)):
      lstC[k][l] = lstA[k]*lstB[l]
  return lstC

In [ ]:
outer_product([1,2,3,5],[3,4,5,9])

[[3, 4, 5, 9], [6, 8, 10, 18], [9, 12, 15, 27], [15, 20, 25, 45]]

3a. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [ ]:
def cumulative_sum(lst):
  new = list()
  add = lst[0]
  for index in range(len(lst)):
    if index == 0:
      new.append(add)
    else:
      add = add+lst[index]
      new.append(add)
  return new

In [ ]:
cumulative_sum([1,2,3,4,5,6,11,23,22])

[1, 3, 6, 10, 15, 21, 32, 55, 77]

3b. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of $x_{90}$ in $\sigma$ such that 90% of the values $x$ are below $x_{90}$. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [1]:
import math,random

def arange(x_min,x_max,steps=10):
    step_size=(x_max-x_min)/steps
    x=x_min
    out = list()
    for i in range(steps):
        out.append(x)
        x+=step_size
    return out

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
#    for _ in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]

def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
        
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges

In [4]:
normalgraph=generate_normal(90)
histogram(normalgraph)

([3, 3, 5, 16, 17, 10, 20, 10, 3, 2],
 [-2.6929697346253296,
  -2.1935667182770673,
  -1.6941637019288052,
  -1.194760685580543,
  -0.6953576692322809,
  -0.19595465288401875,
  0.3034483634642434,
  0.8028513798125056,
  1.3022543961607678,
  1.8016574125090299,
  2.3010604288572916])

In [2]:
def integrate(func,x_min,x_max, steps=90):
  out = list()
  x_scan = arange(x_min,x_max,90)
  y_scan = list(map(func,x_scan))
  y_min = min(y_scan)
  y_max = max(y_scan)

  count=0
  while len(out)<steps:
    count+=1
    x = x_min + (x_max-x_min)*random.random()
    y = y_min + (y_max-y_min)*random.random()

    if y<= func(x):
      out.append(x)

  fraction= float(len(out))/float(count)
  area = (x_max-x_min)*(y_max-y_min)
  area_prime=(x_max-x_min) * y_min
  integral = area * fraction + area_prime
  return integral

In [5]:
integrate(normalgraph,0,1,90)

TypeError: ignored

4a. Recall in quiz 1 we implemented parts of a poker game in python. The solution to quiz 1 is below. Modify the `flush`, `straight`, and `straight_flush` functions to return `None` instead of `False` and the highest card (value-wise) instead of "True".

In [38]:
suits = ["Clubs", "Diamonds", "Hearts", "Spades"]
values = list(range(2,11)) + [ "Jack", "Queen", "King", "Ace"]

def make_deck():
    deck=list()
    for suit in suits:
        for value in values:
            deck.append((suit,value))
    return deck

def flush(hand):
    suit=None
    for card in hand:
        if suit:
            if not card[0]==suit:
                return None
        else:
            suit=card[0]
    max_card=0
    for index in range(len(hand)): 
      if hand[index] == "Jack":
        max_card = "Jack"
      elif (hand[index] == "Queen"):
        max_card = "Queen"
      elif (hand[index] == "King"):
        max_card = "King"
      elif (hand[index] == "Ace"):
        max_card = "Ace"
      else:
        max_card = max(hand[1])
    return max_card

def consecutive(lst): 
    return sorted(lst) == list(range(min(lst), max(lst)+1)) 

def straight(hand):    
    return consecutive([values.index(card[1]) for card in hand])

def straight_flush(hand):
    return straight(hand) and flush(hand)

In [39]:
cards = [('Diamonds', 10),
 ('Diamonds', 'Jack'),
 ('Diamonds', 'Queen'),
 ('Diamonds', 'King'),
 ('Diamonds', 'Ace')]

flush(cards)

'Jack'

4b. Add two additional functions `three_of_a_kind` and `pair` that work in an analogous manner.

In [45]:
def three_of_a_kiind(hand):
  for index in range(len(hand)): 
    if hand[index].count(hand[1])>= 3:
      return True
  return False

In [46]:
def pair(hand):
  for index in range(len(hand)): 
    if hand[index].count(hand[1]) ==2:
      return True
  return False