# Mid-term Exam

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UTA-DataScience/DATA1401.2020.Fall/blob/master/Exams/Mid-term/Exam.ipynb)

Add cells to this notebook as you need for your solutions and your test of your solutions.

1a. Write a function `first_alphabetically(lst)` that takes a list `lst` of strings and returns the string that is alphabetically first. For example, calling your function with the list of states:

In [147]:
states=['Mississippi', 'Maryland', 'Delaware', 'Connecticut', 'Virginia', 'Utah', 'Kansas',
        'Wyoming', 'Indiana', 'Louisiana', 'Missouri', 'Illinois', 'Minnesota', 'Vermont', 
        'New Mexico', 'North Dakota', 'Wisconsin', 'Tennessee', 'New York', 'Oklahoma', 
        'Colorado', 'Pennsylvania', 'West Virginia', 'Alabama', 'Montana', 'Texas', 
        'Washington', 'Michigan', 'New Hampshire', 'Arkansas', 'Hawaii', 'Iowa', 
        'Idaho', 'Kentucky', 'Ohio', 'Nebraska', 'Alaska', 'Oregon', 'South Dakota', 
        'New Jersey', 'Florida', 'Georgia', 'Rhode Island', 'Arizona', 'Maine', 
        'South Carolina', 'California', 'Nevada', 'Massachusetts', 'North Carolina']

should return the string `"Alabama"`. Note that you can compare strings:

In [148]:
lst = list(states)

In [42]:
# states in list form:
def state_variables():
  for index in range(len(lst)):
    print(lst[index])

# determining first and last states:     
def first_alphabetically(lst):
  def find_min(d):
    a_min=lst[0]
    for e in lst:
        if e<a_min:
            a_min=e
    return a_min
  out = find_min(state_variables)
  return out

In [43]:
 def last_alphabetically(lst): 
  def find_max(d):
      a_max=lst[0]
      for e in lst:
          if e>a_max:
              a_max=e
      return a_max
  out = find_max(state_variables)
  return out

In [73]:
# ordering the states:
# def first_alphabetically(lst):
first_alphabetically(lst)

'Alabama'

For this part, Im just assigning the variables a/A, b/B, so on to the corresponding state (while in alphabetical order) for the test below or is this where I am defining what alphabetical order is as a new function? then appending this to the states variables between range 'Alabama' and 'Wyoming'?

In [75]:
A = (first_alphabetically(lst))
a = (first_alphabetically(lst))
B = (last_alphabetically(lst))
b = (last_alphabetically(lst))
C = (first_alphabetically(lst[1]))
c = (first_alphabetically(lst[1]))
print("A">"B")
print("A">"B")
print("B">"A")
print("A">"a")
print("bca">"bbc")

False
False
True
False
True

Make sure your implementation isn't case sensitive. **Do not use** python's built-in `min`, `max`, `sort` or any other sort function you find.

1b. Write a function `arg_first_alphabetically(lst)`, which does the same thing as in exercise 1 but returns the index of the first string alphabetically.

In [112]:
def arg_first_alphabetically(lst):
  def find_argmin(d):
      a_min=lst[0]
      i_min=0
      for i,e in enumerate(lst):
          if e<a_min:
              a_min=e
              i_min=i
      return i_min
  out = find_argmin(state_variables)
  return out

In [113]:
print(arg_first_alphabetically(lst))

23

In [190]:
def arg_last_alphabetically(lst):
  def find_argmax(d):
      a_max=lst[0]
      i_max=-1
      for i,e in enumerate(lst):
          if e>a_max:
              a_max=e
              i_max=i
      return i_max
  out = find_argmax(state_variables)
  return out

In [191]:
arg_last_alphabetically(lst)

4

1c. Use your result in question 2 to implement a function `arg_sort_alphabetically(lst)` that returns a list that is alphabetically sorted. Sorting can be accomplished by successively applying the function in question 1 and removing the first element alphabetically. You can remove an element from a list using `pop()`. Make sure your implementation isn't case sensitive. Do not use python's built-in `min`, `max`, `sort` or any other sort function you find.

In [219]:
def arg_sort_alphabetically(lst):
  first = arg_first_alphabetically(lst)
  last = arg_last_alphabetically(lst)
  lst[0] = first
  lst[-1] = last
  out = range(arg_first_alphabetically(lst),arg_last_alphabetically(lst))
  return out

In [217]:
print(range(arg_first_alphabetically(lst)))

TypeError: ignored

2. Implement a function `outer_product` that takes two one-dimensional lists of numbers and returns the two-dimensional outer product matrix defined as:

\begin{equation*}
\begin{pmatrix} x_1\\x_2\\ \vdots \\x_m \end{pmatrix} \begin{pmatrix} y_1&y_2& \dots &y_n\end{pmatrix} =
\begin{pmatrix}
x_1y_1 & x_1y_2 & \dots & x_1y_n\\
x_2y_1 & x_2y_2 & \dots & x_2y_n\\
\vdots & \vdots & \ddots & \vdots \\
x_my_1 & x_my_2 & \dots & x_my_n
\end{pmatrix}
\end{equation*}

In other words the elements of matrix C which is the outer product of A and B are $c_{ij} = a_i b_j$.

In [254]:
def outer_product(C):
  a = [1,2,3]
  b = [4,5,60]

  def multiply(a,b):
      if isinstance(a,(float,int)) and isinstance(b,(float,int)):
          return a*b
      elif isinstance(a,list) and isinstance(b,list):
          return multiply_lists(a,b)
      elif isinstance(a,list) and isinstance(b,(float,int)):
          return multiply_scalar_list(b,a)
      elif isinstance(b,list) and isinstance(a,(float,int)):
          return multiply_scalar_list(a,b)
      else:
          print("Invalid input.")
          return None

  def multiply_lists(a,b):
      if len(a)!=len(b):
          print("Only can multiply lists of same length.")
          return None
      else:
          out = list()
          for item1,item2 in zip(a,b):
              out.append(multiply(item1,item2))
          return out 

  def multiply_scalar_list(scalar,b):
      out = list()
      for item in b:
          out.append(multiply(scalar,item))
      return out
  outer = multiply(a,a)
  outer_func = (outer,(multiply(b,b)))
  return outer_func

In [255]:
print(outer_product(C))

([1, 4, 9], [16, 25, 3600])

3a. Implement a function `cumulative_sum(lst)` that takes a list of numbers and returns a list of same size where the element `i` is the sum of the elements `0` to `i` of the input list. For example given `[1,2,3]`, you should return [1,3,6].

In [289]:
lst = [1,2,3]
def matrix_shape(lst):
    if lst(M):
        m=len(M)
        n=len(M[0])
        return m,n
    else:
        0,0

def is_square_matrix(lst):
    m,n=matrix_shape(M)
    if m==0 or n==0:
        return False
    return m==n

def cumulative_sum(lst):
    def M1():
      m1=matrix_shape(M1)
    def M2():
      m2=matrix_shape(M2)
    
    if m1==m2:
        M3=zero_matrix(m1)
        for i in range(m1):
            for j in range(m2):
                M3[i][j]=M1[i][j]+M2[i][j]
        return M3
    return False


def cumulative_sum(lst):
  lst = [1,2,3]
  i = lst[0]+lst[1]
  j = i+lst[2]
  for i in lst:
    out = (lst[0],i,j)
  return out

In [290]:
cumulative_sum(lst)

(1, 3, 6)

3b. Imagine you have a normal distributed random variable `x`. For example `x` can be grades on this exam. Using the normal distribution generator and histogram functions from lecture (provided below) and `cumulative_sum` from previous question to compute what is the value of $x_{90}$ in $\sigma$ such that 90% of the values $x$ are below $x_{90}$. In other words:

$$
\int_{-\infty}^{x_{90}} N(x;\mu=0,\sigma=1) dx = 0.9
$$

In [291]:
import math,random

def arange(x_min,x_max,steps=10):
    step_size=(x_max-x_min)/steps
    x=x_min
    out = list()
    for i in range(steps):
        out.append(x)
        x+=step_size
    return out

def generate_normal(N,m=0,s=1):
    out = list() 
    
    while len(out)<N:
#    for _ in range(int(float(N)/2)+1):
        U1=random.random()
        U2=random.random()
    
        out.append(s*math.sqrt(-2*math.log(U1))*math.cos(2*math.pi*U2)+m)
        out.append(s*math.sqrt(-2*math.log(U1))*math.sin(2*math.pi*U2)+m)

    return out[:N]
data = cumulative_sum(lst)
def histogram(data, n_bins=10,x_min=None, x_max=None):
    if x_min==None:
        x_min=min(data)
    if x_max==None:
        x_max=max(data)
        
    bin_edges = arange(x_min,x_max,n_bins)
    bin_edges.append(x_max)

    hist=[0]*n_bins
    
    for d in data:
        for i in range(n_bins):
            if d>=bin_edges[i] and d<bin_edges[i+1]:
                hist[i]+=1
                break
                
    return hist,bin_edges

In [292]:
histogram(data, n_bins=90,x_min=None, x_max=None)

([1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0,
  0],
 [1,
  1.0555555555555556,
  1.1111111111111112,
  1.1666666666666667,
  1.2222222222222223,
  1.277777777777778,
  1.3333333333333335,
  1.388888888888889,
  1.4444444444444446,
  1.5000000000000002,
  1.5555555555555558,
  1.6111111111111114,
  1.666666666666667,
  1.7222222222222225,
  1.7777777777777781,
  1.8333333333333337,
  1.8888888888888893,
  1.9444444444444449,
  2.0000000000000004,
  2.055555555555556,
  2.111111111111111,
  2.1666666666666665,
  2.222222222222222,
  2.2777777777777772,
  2.3333333333333326,
  2.388888888888888,
  2.4444444444444433,
  2.4999999999999987,
  2.555555555555554,
  2.6111111111111094,
  2.6666666666666647,
  2.72222222222222,
  2.7777777777777755,
  2.833333333333331,
  2.888888888888886,
  2.9444444444444415,
  2.999999999999997,
  3.0555555555555522,
  3.1111111111111076,
  3.166666666666663,
  3.2222222222222183,
  3.2777777777777737,
  3.333333333333329,
  3.3888888888888844,
  3.4444444444444398,
  3.499999999999995,
  3.5555555555555505,
  3.611111111111106,
  3.666666666666661,
  3.7222222222222165,
  3.777777777777772,
  3.8333333333333273,
  3.8888888888888826,
  3.944444444444438,
  3.9999999999999933,
  4.055555555555549,
  4.1111111111111045,
  4.16666666666666,
  4.222222222222215,
  4.277777777777771,
  4.333333333333326,
  4.388888888888881,
  4.444444444444437,
  4.499999999999992,
  4.555555555555547,
  4.611111111111103,
  4.666666666666658,
  4.722222222222213,
  4.777777777777769,
  4.833333333333324,
  4.8888888888888795,
  4.944444444444435,
  4.99999999999999,
  5.055555555555546,
  5.111111111111101,
  5.166666666666656,
  5.222222222222212,
  5.277777777777767,
  5.333333333333322,
  5.388888888888878,
  5.444444444444433,
  5.4999999999999885,
  5.555555555555544,
  5.611111111111099,
  5.6666666666666545,
  5.72222222222221,
  5.777777777777765,
  5.833333333333321,
  5.888888888888876,
  5.944444444444431,
  6])

4a. Recall in quiz 1 we implemented parts of a poker game in python. The solution to quiz 1 is below. Modify the `flush`, `straight`, and `straight_flush` functions to return `None` instead of `False` and the highest card (value-wise) instead of "True".

In [329]:
suits = ["Clubs", "Diamonds", "Hearts", "Spades"]
values = list(range(2,11)) + [ "Jack", "Queen", "King", "Ace"]

def make_deck(x,y):
    deck=list()
    for suit in suits:
        for value in values:
            deck.append((suit,value))
    return deck
hand = make_deck(0,5)
def flush(hand):
    suit=None
    for card in hand:
        if suit:
            if not card[0]==suit:
                return 'None'
        else:
            suit=card[0]
    return True

def consecutive(lst): 
    return sorted(lst) == list(range(min(lst), max(lst)+1)) 

def straight(hand):    
    out = consecutive([values.index(card[1]) for card in hand])
    if out == False:
      print('None')
    return out

def straight_flush(hand):
    out = (straight(hand), flush(hand))
    return out

In [330]:
print(flush(hand))
print(straight(hand))
print(straight_flush(hand))

None
None
False
None
(False, 'None')

4b. Add two additional functions `three_of_a_kind` and `pair` that work in an analogous manner.

In [333]:
def three_of_a_kind(hand):
  suit=None
  for card in hand:
      if suit:
          if not card[0]==suit:
              return 'None'
      else:
          suit=card[0]*3
  return True

def pair(hand): 
    suit=None
    for card in hand:
      if suit:
          if not card[0]==suit:
              return 'None'
      else:
          suit=card[0]*2
    return True

In [334]:
print(three_of_a_kind(hand))
print(pair(hand))

None
None