# Lecture 13

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/UTA-DataScience/DATA1401.2020.Fall/blob/master/Lectures/Lecture.13/Lecture.13.ipynb)

# Quiz

Write 3 functions that take as in input a matrix, represented as a list of lists, and return:
   * Sum of all elements (`sum_all()`)
   * List of the sum of the rows (`sum_rows()`)
   * List of the sum of the columns (`sum_columns()`)

In [4]:
# Your solution here
#versions for fidning sum for all
def sum_all_0(lst):
    my_sum=0.
    for row in lst:
      for item in row:
        my_sum+=item
    return my_sum

def sum_all_1(lst):
    my_sum=0.
    for row in lst:
        my_sum+=sum(row)
    return my_sum

#Using recursion
def sum_all(lst):
    if isinstance(lst,list):
      my_sum=0.

      for row in lst:
        my_sum+=sum_all(row)
      return my_sum

    else:
      return lst

In [5]:
def sum_rows(lst):
    my_sums=list()

    for row in lst:
        my_sums.append(sum(row))
    return my_sums

In [6]:
def sum_columns(lst):
  #comment: assumes first row length ==num of columns
  #better if max length of every row was used in 
    my_sums=[0.]*len(lst[0])

    for row in lst:
        for column_i,item in enumerate(row):
          my_sums[column_i]+=item
    return my_sums

In [7]:
D = [ [ 1, 2, 3 ],
      [ 4, 5, 6 ],
      [ 7, 8, 9 ]
      ]
sum_all_0(D)

45.0

In [ ]:
sum_rows(D)

[6, 15, 24]

In [ ]:
sum_columns(D)

[12.0, 15.0, 18.0]

# More Python...

In this lecture, we will introduce a few other aspects of python that can be very powerful. The next leaps in power will come when we introduce object oriented programming. 

## None Type

There is one python built-in datatype that we haven't explored yet: `None`. None represents a null or no value at all. It is not the same as 0, `False`, or empty string. And it has it's own type (`NoneType`).

Some Examples:

In [ ]:
x = None

print ("None:",x)

if x:
    print ("None is True!")
else:
    print( "None is not True!")

# A list with None in it
[x]

None: None
None is not True!

[None]

Also note that comparing None to anything except None will return False:

In [ ]:
print ("None test:", None == None)
print ("String test:", "a string" == None)
print ("Number test:", 1 == None)
print ("List test:", [None]==None)

None test: True
String test: False
Number test: False
List test: False

Note that since `None` is not true, so often times it is used in if statements to check if a value is set for something. For example:

In [ ]:
def my_func(x=None):
    if x:
        print (x+1)
    else:
        print ("x is not set")
        
my_func()

my_func(1)

x is not set
2

## Variable Argument Type Functions 

Since python is late binding, the type of any variable is only relevant at the time of its usage, so you can write functions that behave differently based on the type of the variable. 

For example:

In [ ]:
def always_extend(list1,obj):
    if isinstance(obj,list):
        list1.extend(obj)
    else:
        list1.append(obj)
        
    return list1

In [ ]:
print (always_extend([1,2,3],[4,5,6]))
print (always_extend([1,2,3],5))

### Error Handling

Error handling is a advance part of many languages. In python it is an acceptable usage pattern for checking the type of objects. Lets say you want a part of your code to add a number to another number correctly, even when one number is in string form.

Here's an example of a failure. Note the error.

In [ ]:
def always_add(number,obj):
    return number+obj

always_add(1,"2")

TypeError: ignored

In [ ]:
always_add(1,2)

3

In [ ]:
def always_add(number,obj):
    try:
        return number+obj
    except TypeError:
        return number+float(obj)

always_add(1,"2")

3.0

Note that specifying the error, in this case `TypeError`, is optional. It is good practice to specify the error, because otherwise the exception will catch any error and you could incorrectly handle an error you didn't anticipate.

## Variable Number of Argument Functions

If the number of arguments that is to be accepted by a function is not known then a asterisk symbol is used before the argument.

In [ ]:
def add_n(*args):
    res = 0
    reslist = []
    for i in args:
        reslist.append(i)
    print (reslist)
    return sum(reslist)

The above function accepts any number of arguments, defines a list and appends all the arguments into that list and return the sum of all the arguments.

In [ ]:
add_n(1,2,3,4,5)

In [ ]:
add_n(1,2,3)

Note that `*args` is a tuple:

In [ ]:
def test_arg(*args):
    print (type(args))
    print (args)

In [ ]:
print ("String Test:")
test_arg("Hello")

print ("List Test:")
test_arg([1,2,3])

Note that you can mix required arguments with additional variable arguments:

In [ ]:
def test_arg_1(x,*args):
    print (type(args))
    print (args)
    
test_arg_1("Hello")

test_arg_1([1,2,3],"Hello")

Another way to get variable arguments is to use `**args`. Here the arguments will be put into a dictionary, but you will have to specify explicity the name of the arguments:

In [ ]:
def test_arg_2(**args):
    print (type(args))
    print (args)

In [ ]:
print ("String Test:")
test_arg_2(x="Hello")

print ("List Test:")
test_arg_2(x=[1,2,3])

### Optional Arguments and `**args` (Advanced)

Some libraries use a powerful usage pattern with `**args`. These libraries typically have functions that call other functions. Imagine two functions: `func1(x)` and `func2(y,a=1,b=2,c=3)` that is called by `func1`. If you want to change the value of `a` when you call `func1`, you could add a `a` as an optional argument to `func1` and take care to propagate the `a` to `func2`. It becomes very combersome if `func1` wants calls the lots of functions and you want to be able to change any inner function argument when you call `func1`.

Here's an example that shows how to elegantly address this problem in a general way. Simply add `**args` to all of your functions:

In [ ]:
def func1(name=None,**args):
    if name:
        print ("My name is", name)

def func2(message=None,**args):
    if message:
        print ("My message is", message)
    
def func3(**args):
    if "name" in args:
        print (args["name"],"said:")
    func1(**args)
    func2(**args)

In [ ]:
func3(name="John",message="Hello!")

## Lambda Functions

Sometimes you don't want to define a small function that you may use once. `lambda` allows you to implement small functions which are not defined with any name and carry a single expression whose result is returned. Lambda functions are very handy when operating with lists. These function are defined by the keyword `lambda` followed by the variables, a colon and the respective expression.

In [ ]:
z = lambda x: x * x

In [ ]:
z(8)

To appreciate the power of `lambda`, lets introduce some built-in functional programming abilties of python: `map` and `filter`.

### map

**map( )** function basically executes the function that is defined to each of the list's element separately.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

In [ ]:
eg = map(lambda x:x+2, list1)
print (eg)

In python 3 you don't get the result, but rather a iterable which will compute the result as needed:

In [ ]:
for x in eg:
    print(x)

If you want to compute the result, just force it in the following way:

In [ ]:
eg = list(map(lambda x:x+2, list1))
print (eg)

You can also add two lists.

In [ ]:
list2 = [9,8,7,6,5,4,3,2,1]

In [ ]:
eg2 = list(map(lambda x,y:x+y, list1,list2))
print (eg2)

[10, 10, 10, 10, 10, 10, 10, 10, 10]

Not only lambda function but also other built in functions can also be used.

In [ ]:
eg3 = list(map(str,eg2))
print (eg3)

['10', '10', '10', '10', '10', '10', '10', '10', '10']

### filter

**filter( )** function is used to filter out the values in a list. Note that **filter()** function returns the result in a new list.

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9]

To get the elements which are less than 5,

In [ ]:
list(filter(lambda x:x<5,list1))

[1, 2, 3, 4]

Notice what happens when **map()** is used.

In [ ]:
list(map(lambda x:x<5, list1))

[True, True, True, True, False, False, False, False, False]

We can conclude that, whatever is returned true in **map( )** function that particular element is returned when **filter( )** function is used.

In [ ]:
list(filter(lambda x:x%4==0,list1))

[4, 8]

## File IO

Python makes it easy to read/write files. There are two types of files we will need to be aware of:
1. Text files: consisting of lines of sequences of characters terminated by End Of Line (EOL) character.
2. Binary files: everything else.

You can open a file for reading or writing with the `open` built-in function:

In [ ]:
file_obj = open("a_file.txt","w")
print (file_obj)
file_obj.close()

<_io.TextIOWrapper name='a_file.txt' mode='w' encoding='UTF-8'>

fie_obj is the handle to a file
make sure to always close file at the end

The first argument of `open` is the filename (a string). The second argument (also a string) indicate the mode in which you are opening the file:

* ‘r’ – Read mode which is used when the file is only being read.
* ‘w’ – Write mode which is used to edit and write new information to the file (any existing files with the same name will be erased when this mode is activated).
* ‘a’ – Appending mode, which is used to add new data to the end of the file; that is new information is automatically amended to the end. 
* ‘r+’ – Special read and write mode, which is used to handle both actions when working with a file. 

You can write text in the file as follows:

In [ ]:
file_obj = open("a_file.txt","w")
file_obj.write("This is our first line \n")
file_obj.write("This is our second line \n")
file_obj.write("This is our third line \n")

file_obj.close()

Note the "\n" tells puts the new line character at the end of each line.

If you ran the cell above, you made a file. Lets use the "cat" shell command to print out its contents:

In [ ]:
!cat a_file.txt

This is our first line
This is our second line
This is our third line

We can do the same using in python read.

In [ ]:
file_obj = open("a_file.txt","r")
contents= file_obj.read()
print (type(contents))
print (contents)
file_obj.close()

<class 'str'>
This is our first line
This is our second line
This is our third line

You can specify how many characters to read:

In [ ]:
file_obj = open("a_file.txt","r")
print (file_obj.read(10))
file_obj.close()

This is ou

Or read one line at a time:

In [ ]:
file_obj = open("a_file.txt","r")
print (file_obj.readline())
print (file_obj.readline())
file_obj.close()

This is our first line

This is our second line

Read all of the lines into a list:

In [ ]:
file_obj = open("a_file.txt","r")
print (file_obj.readlines())
file_obj.close()

['This is our first line \n', 'This is our second line \n', 'This is our third line \n']

What if we don't know how many lines to read? We can loop over the lines:

In [ ]:
file_obj = open("a_file.txt", "r") 
for line in file_obj: 
    print (line,end="" )
    #line above used to end the space between lines
file_obj.close()

This is our first line
This is our second line
This is our third line

So far we just stored strings, what if we want to store numbers?

In [ ]:
numbers=[1,2,3,4]

file_obj = open("a_file_with_numbers.txt","w")
for number in numbers:
    file_obj.write(str(number))

file_obj.close()

!cat a_file_with_numbers.txt

1234

That's not quite what we want (why?), lets try something else:

In [ ]:
numbers=[1,2,3,4]

file_obj = open("a_file_with_numbers.txt","w")
first=True
for number in numbers:
    if not first:
        file_obj.write(",")
    first=False
    file_obj.write(str(number))

file_obj.close()
!cat a_file_with_numbers.txt

1,2,3,4

We just created a Camma Separated File (CSV).

Let's read it back:

In [ ]:
file_obj = open("a_file_with_numbers.txt","r")

numbers=list()

for line in file_obj:
    numbers.extend(map(int,line.split(",")))

file_obj.close()
print (numbers)

[1, 2, 3, 4]

In [ ]:
file_obj = open("a_file_with_numbers.txt","r")


a_line=file_obj.readline()

In [ ]:
a_line

'1,2,3,4'

In [ ]:
a_line.split(",")

['1', '2', '3', '4']

In [ ]:
int(a_line.split(",")[0])

1

In [ ]:
list(map(int,a_line.split(",")))

[1, 2, 3, 4]