# Lecture 7

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://github.com/UTA-DataScience/DATA1401.2020.Fall/blob/master/Lectures/Lecture.7/Lecture.7.ipynb)


## Shell - Basics Walkthrough

We'll spend some of the lecture doing a walkthrough of basic shell operations:

* ls, cd, pwd, rm, mkdir, rmdir
* man
* ls options
* touch, chmod, chown
* printenv, export, echo, $variable
* which, where, whoami
* cat, head, tail, more, less, wc
* sort, grep
* wget, curl
* ps, top, kill, jobs, fg, bg
* tar
* du, df

You might want to google around for a Unix/shell cheatsheet. Here is an example [cheatsheet](http://www.mathcs.emory.edu/~valerie/courses/fall10/155/resources/unix_cheatsheet.html).

## Jupyter Basics

Jupyter notebooks consist of cells that can hold text or code (usually python). This text that you are reading, was written into a text cell as simple text "coding" language known as mark-down. When a cell is run (either automatically at start of the notebook or manually by pressing shift-enter), the mark-down text is interpreted into nice looking text. Running a code cell will execute the code in that cell and give you the results. If you make a mistake, you can usually simply change the cell and re-run. But be aware that since you ran the mistaken cell already, whatever code that was properly executed before your mistake/error, was already executed and has therefore changed your current python environment accordingly. In some cases this situation will be problematic, and you will need to rerun the notebook from the start by pressing the "reload" botton (next to the "stop" button) above.

## Python

### Syntax Fundamentals

In [16]:
x = 1+1+2342/3432.34

In [17]:
x

2.6823333352756427

In [18]:
if x>1:
    print("Hello")
    x=x-1
else:
    print("Bye")
    x=x+1

Hello

### I. Primatives: Numbers and Strings

Python has dynamic casting. It guesses what type of data you mean. So if you just type in "1", it'll assume you mean an interger (whole numbers). If you type in "1." it'll assume you mean a float.

Note that everything after a "#" sign is a comment and is ignored by python.

In [24]:
# Interger
10

10

In [20]:
# Float
1.1

1.1

In [22]:
1.0

1.0

In [25]:
# String: you can use single or double quotes
"Hello World"

'Hello World'

In [27]:
'Hello World'

'Hello World'

In [28]:
# Boolean
True

True

In [29]:
False

False

### Primatives: Arithmetic Operations

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [30]:
1+1

2

Be careful about types:

In [31]:
int(1/10)

0

In [32]:
1./10.

0.1

In [33]:
"Hello"+" "+"World"

'Hello World'

In [34]:
"hello"+1

TypeError: can only concatenate str (not "int") to str

In [35]:
51123122%2232

1394

In [36]:
51123122//2232

22904

In [37]:
True + False

1

### III. Abstractions: Variables

Variables are generaly created on assignment, with their type inferred:

In [38]:
x = 2
y = 3.
z = "Hello"

In [39]:
z

'Hello'

### Primatives: Relational Operations

| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [40]:
x == 2

True

In [41]:
x < 2

False

In [42]:
z == "Hello"

True

### Primatives: Bitwise Operations
| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [43]:
a = 1 # 01
b = 3 # 11 
a & b

1

In [44]:
True and False

False

In [45]:
True or False

True

### Primatives: Built-ins

We have been evaulating expressions, and in interactive mode, python displays the results of the last evaluation. But if you actually want to print something to the screen, use **print**.

In [46]:
print("Hello World")

Hello World

You can print different base representations:

In [47]:
x=100
print(hex(x))
print(bin(x))
print(chr(x))

0x64
0b1100100
d

**int( )** accepts two values when used for conversion, one is the value in a different number system and the other is its base. Note that input number in the different number system should be of string type.

In [48]:
print (int('010',8))
print (int('0xaa',16))
print (int('1010',2))

8
170
10

You can use **int( )**, **float( )**, ** str( )** to convert types:

In [50]:
print (int(5.1))
print ("Number: " + str(5.1))
print (float(1)/float(10))

5
Number: 5.1
0.1

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [51]:
print (round(5.6231))
print (round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [52]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [53]:
divmod(9,2)

(4, 1)

**isinstance( )** returns True, if the first argument is an instance of that class. Multiple classes can also be checked at once.

In [54]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

True
False
True

**cmp(x,y)**

|x ? y|Output|
|---|---|
| x < y | -1 |
| x == y | 0 |
| x > y | 1 |

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [55]:
print(pow(3,3))
print(pow(3,3,5))

27
2

**range( )** function outputs the integers of the specified range. It can also be used to generate a series by specifying the difference between the two numbers within a particular range. The elements are returned in a list (will be discussing in detail later.)

In [57]:
print(list(range(3)))
print(list(range(2,9)))
print(list(range(2,27,8)))

[0, 1, 2]
[2, 3, 4, 5, 6, 7, 8]
[2, 10, 18, 26]

**raw_input( )** accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [58]:
abc = input("Type something here and it will be stored in variable abc \t")

Type something here and it will be stored in variable abc 	Hello

In [59]:
type(abc)

str

In [60]:
print(abc)

Hello

**input( )**, this is used only for accepting only integer inputs.

In [ ]:
abc1 =  input("Only integer can be stored in variable abc \t")

In [ ]:
type(abc1)

### More on Print

The **print** statement can be used in the following different ways :

    - print "Hello World"
    - print "Hello", <Variable Containing the String>
    - print "Hello" + <Variable Containing the String>
    - print "Hello %s" % <variable containing the string>

In [61]:
print("Hello World")

Hello World

In Python, single, double and triple quotes are used to denote a string.
Most use single quotes when declaring a single character. 
Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [ ]:
print('Hey')

In [ ]:
print("""
Hello World

I love Python.""")

Strings can be assigned to variable say _string1_ and _string2_ which can called when using the print statement.

In [63]:
string1 = 'World'
print('Hello', string1)

string2 = '!'
print('Hello', string1, string2)

Hello World
Hello World !

String concatenation is the "addition" of two strings. Observe that while concatenating there will be no space between the strings.

In [64]:
print('Hello' + string1 + string2)

HelloWorld!

**%s** is used to refer to a variable which contains a string.

In [65]:
print("Hello %s" % string1)

Hello World

Similarly, when using other data types

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
This can be used for conversions inside the print statement itself.

In [67]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parenthesis is used.

In [68]:
print ("Hello %s %s" %(string1,string2))

Hello World !

## Other Examples

The following are other different ways the print statement can be put to use.

In [69]:
print ("I want %%d to be printed %s" %'here')

I want %d to be printed here

In [70]:
print ('_A'*10)

_A_A_A_A_A_A_A_A_A_A

In [71]:
print ("Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug")

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

In [72]:
print ("I want \\n to be printed.")

I want \n to be printed.

In [73]:
print ("""
Routine:
\t- Eat
\t- Sleep\n\t- Repeat
""")

Routine:
	- Eat
	- Sleep
	- Repeat

Note that **type( )** returns the format or the type of a variable or a number

In [74]:
print(type(1.1))

<class 'float'>

# PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [75]:
"%f" % 3.121312312312

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [76]:
"%.5f" % 3.121312312312

'3.12131'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [77]:
"%9.5f" % 3.121312312312

'  3.12131'

Zero padding is done by adding a 0 at the start of fieldwidth.

In [78]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

For proper alignment, a space can be left blank in the field width so that when a negative number is used, proper alignment is maintained.

In [79]:
print("% 9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

 3.121312
-3.121312

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [84]:
print("%+9f" % 3.121312312312)
print("% 9f" % -3.121312312312)

+3.121312
-3.121312

As mentioned above, the data right aligns itself when the field width mentioned is larger than the actualy field width. But left alignment can be done by specifying a negative symbol in the field width.

In [81]:
"%-9.3f" % 3.121312312312

'3.121    '

### II. Combinations: Lists

Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [1]:
a = []
b = list()

In [2]:
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

One can directly assign the sequence of data to a list x as shown.

In [3]:
x = ['apple', 'orange']

In [4]:
x

['apple', 'orange']

In [5]:
y = ["hello", 1, 2.0]

In [6]:
y

['hello', 1, 2.0]

#### Indexing

In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [7]:
x[0]

'apple'

In [8]:
y = [1,2,3,4,5,6]

In [14]:
y[-2]

5

Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [15]:
x[-1]

'orange'

As you might have already guessed, x[0] = x[-2], x[1] = x[-1]. This concept can be extended towards lists with more many elements.

In [16]:
y = ['carrot','potato']

Here we have declared two lists x and y each containing its own data. Now, these two lists can again be put into another list say z which will have it's data as two lists. This list inside a list is called as nested lists and is how an array would be declared which we will see later.

In [17]:
z  = [x,y]
print(z)

[['apple', 'orange'], ['carrot', 'potato']]

In [19]:
z[0]

['apple', 'orange']

In [20]:
z[0][1]

'orange'

In [22]:
z = x+y
z

['apple', 'orange', 'carrot', 'potato']

In [23]:
z[0]

'apple'

Indexing in nested lists can be quite confusing if you do not understand how indexing works in python. So let us break it down and then arrive at a conclusion.

Let us access the data 'apple' in the above nested list.
First, at index 0 there is a list ['apple','orange'] and at index 1 there is another list ['carrot','potato']. Hence z[0] should give us the first list which contains 'apple'.

In [24]:
z1 = z[0]
print(z1)

apple

Now observe that z1 is not at all a nested list thus to access 'apple', z1 should be indexed at 0.

In [25]:
z1[0]

'a'

Instead of doing the above, In python, you can access 'apple' by just writing the index values each time side by side.

In [26]:
z[0][0]

'a'

If there was a list inside a list inside a list then you can access the innermost value by executing z[ ][ ][ ].

#### Slicing

Indexing was only limited to accessing a single element, Slicing on the other hand is accessing a sequence of data inside the list. In other words "slicing" the list.

Slicing is done by defining the index values of the first element and the last element from the parent list that is required in the sliced list. It is written as parentlist[ a : b ] where a,b are the index values from the parent list. If a or b is not defined then the index value is considered to be the first value for a if a is not defined and the last value for b when b is not defined.

In [27]:
num = [0,1,2,3,4,5,6,7,8,9]

In [28]:
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

You can also slice a parent list with a fixed length or step length.

In [29]:
num[:9:3]

[0, 3, 6]

In [30]:
# [start : end : step]
# defaults
# start = 0
# end = -1
# step = 1

In [31]:
num[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### Primitives: Built-in List Functions

To find the length of the list or the number of elements in a list, **len( )** is used.

In [32]:
len(num)

10

If the list consists of all integer elements then **min( )** and **max( )** gives the minimum and maximum value in the list.

In [33]:
min(num)

0

In [34]:
max(num)

9

Lists can be concatenated by adding, '+' them. The resultant list will contain all the elements of the lists that were added. The resultant list will not be a nested list.

In [35]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

There might arise a requirement where you might need to check if a particular element is there in a predefined list. Consider the below list.

In [36]:
names = ['Earth','Air','Fire','Water']

To check if 'Fire' and 'Rajath' is present in the list names. A conventional approach would be to use a for loop and iterate over the list and use the if condition. But in python you can use 'a in b' concept which would return 'True' if a is present in b and 'False' if not.

In [37]:
'Fire' in names

True

In [38]:
'Wind' in names

False

In a list with elements as string, **max( )** and **min( )** is applicable. **max( )** would return a string element whose ASCII value is the highest and the lowest when **min( )** is used. Note that only the first index of each element is considered each time and if they value is the same then second index considered so on and so forth.

In [39]:
mlist = ['bzaa','ds','nc','az','z','klm']

In [40]:
print(max(mlist))
print(min(mlist))

z
az

Here the first index of each element is considered and thus z has the highest ASCII value thus it is returned and minimum ASCII is a. But what if numbers are declared as strings?

In [41]:
nlist = ['1','94','93','1000']

In [43]:
print(max(nlist))
print(min(nlist))

94
1

Even if the numbers are declared in a string the first index of each element is considered and the maximum and minimum values are returned accordingly.

But if you want to find the **max( )** string element based on the length of the string then another parameter 'key=len' is declared inside the **max( )** and **min( )** function.

In [44]:
print(max(names, key=len))
print(min(names, key=len))

Earth
Air

But even 'Water' has length 5. **max()** or **min()** function returns the first element when there are two or more elements with the same length.

Any other built in function can be used or lambda function (will be discussed later) in place of len.

A string can be converted into a list by using the **list()** function.

In [45]:
list('hello')

['h', 'e', 'l', 'l', 'o']

**append( )** is used to add a element at the end of the list.

In [55]:
lst = [1,1,4,8,7]

In [56]:
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

Note that you have been just introduced to a new way to interact with "objects" in python. Until now, when we wanted to do perform an operation on some data, e.g. finding the largest value in a list, we called a function on the data, e.g. calling **max()** on a list. The append example above is subtly different: the append operation modifies the list data. So here we ask the list to append an element to itself. What you are observing is a construct of object oriented programming, which we will get to later. For now, it is important that you just notice the difference. Namely that in addition to general built-in functions in python, the primitives in python also have their own built-in functions that are specific to them.

Also note that there is another way to do a the append operation:

In [57]:
lst = lst + [1]

**count( )** is used to count the number of a particular element that is present in the list.

In [49]:
lst.count(1)

4

In [51]:
lst.clear()

In [52]:
lst

[]

**append( )** function can also be used to add a entire list at the end. Observe that the resultant list becomes a nested list.

In [53]:
lst1 = [5,4,2,8]

In [58]:
lst.append(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, 1, [5, 4, 2, 8]]

But if nested list is not what is desired then **extend( )** function can be used.

In [59]:
lst.extend(lst1)
print(lst)

[1, 1, 4, 8, 7, 1, 1, [5, 4, 2, 8], 5, 4, 2, 8]

**index( )** is used to find the index value of a particular element. Note that if there are multiple elements of the same value then the first index value of that element is returned.

In [60]:
lst.index(1)

0

**insert(x,y)** is used to insert a element y at a specified index value x. **append( )** function made it only possible to insert at the end.

In [61]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', 1, 1, [5, 4, 2, 8], 5, 4, 2, 8]

**insert(x,y)** inserts but does not replace element. If you want to replace the element with another element you simply assign the value to that particular index.

In [62]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 1, 1, [5, 4, 2, 8], 5, 4, 2, 8]

**pop( )** function return the last element in the list. This is similar to the operation of a stack. Hence it wouldn't be wrong to tell that lists can be used as a stack.

In [63]:
lst.pop()

8

Index value can be specified to pop a ceratin element corresponding to that index value.

In [64]:
lst.pop(0)

1

**pop( )** is used to remove element based on it's index value which can be assigned to a variable. One can also remove element by specifying the element itself using the **remove( )** function.

In [65]:
lst.remove('Python')
print(lst)

[1, 4, 8, 7, 1, 1, [5, 4, 2, 8], 5, 4, 2]

Alternative to **remove** function but with using index value is **del**

In [66]:
del lst[1]
print(lst)

[1, 8, 7, 1, 1, [5, 4, 2, 8], 5, 4, 2]

The entire elements present in the list can be reversed by using the **reverse()** function.

In [67]:
lst.reverse()
print(lst)

[2, 4, 5, [5, 4, 2, 8], 1, 1, 7, 8, 1]

In [68]:
lst.pop(3)

[5, 4, 2, 8]

In [69]:
lst

[2, 4, 5, 1, 1, 7, 8, 1]

Note that the nested list [5,4,2,8] is treated as a single element of the parent list lst. Thus the elements inside the nested list is not reversed.

Python offers built in operation **sort( )** to arrange the elements in ascending order.

In [70]:
lst.sort()
print(lst)

[1, 1, 1, 2, 4, 5, 7, 8]

For descending order, By default the reverse condition will be False for reverse. Hence changing it to True would arrange the elements in descending order.

In [71]:
lst.sort(reverse=True)
print(lst)

[8, 7, 5, 4, 2, 1, 1, 1]

Similarly for lists containing string elements, **sort( )** would sort the elements based on it's ASCII value in ascending and by specifying reverse=True in descending.

In [73]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length key=len should be specified as shown.

In [74]:
names.sort(key=len)
print(names)
names.sort(key=len,reverse=True)
print(names)

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

#### Copying a list

Most of the new python programmers commit this mistake. Consider the following,

In [76]:
x=1
l = [x]

In [77]:
l

[1]

In [81]:
x=2
l

[[1]]

In [82]:
x=[1]
l = [x]
x=[2]
l

[[1]]

In [83]:
lista= [2,1,4,3]

In [84]:
listb = lista
print(listb)

[2, 1, 4, 3]

Here, We have declared a list, lista = [2,1,4,3]. This list is copied to listb by assigning it's value and it get's copied as seen. Now we perform some random operations on lista.

In [85]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [86]:
print(listb)

[2, 1, 4, 9]

listb has also changed though no operation has been performed on it. This is because you have assigned the same memory space of lista to listb. So how do fix this?

If you recall, in slicing we had seen that parentlist[a:b] returns a list from parent list with start index a and end index b and if a and b is not mentioned then by default it considers the first and last element. We use the same concept here. By doing so, we are assigning the data of lista to listb as a variable.

In [91]:
lista = [2,1,4,3]

In [92]:
listb = lista.copy()
print(listb)

[2, 1, 4, 3]

In [93]:
lista.pop()
print(lista)
lista.append(9)
print(lista)

[2, 1, 4]
[2, 1, 4, 9]

In [94]:
print(listb)

[2, 1, 4, 3]

### Primatives: Tuples

Tuples are similar to lists but only big difference is the elements inside a list can be changed but in tuple it cannot be changed. Think of tuples as something which has to be True for a particular something and cannot be True for no other values. For better understanding, Recall **divmod()** function.

In [96]:
xyz = divmod(10,3)
print (xyz)
print(type(xyz))

(3, 1)
<class 'tuple'>

In [108]:
d,r = divmod(10,3)
print(d)
print(r)

3
1

Here the quotient has to be 3 and the remainder has to be 1. These values cannot be changed whatsoever when 10 is divided by 3. Hence divmod returns these values in a tuple.

To define a tuple, A variable is assigned to paranthesis ( ) or tuple( ).

In [98]:
tup = ()
tup2 = tuple()

If you want to directly declare a tuple it can be done by using a comma at the end of the data.

In [99]:
27,

(27,)

27 when multiplied by 2 yields 54, But when multiplied with a tuple the data is repeated twice.

In [100]:
2*(27,)

(27, 27)

Values can be assigned while declaring a tuple. It takes a list as input and converts it into a tuple or it takes a string and converts it into a tuple.

In [101]:
tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

(1, 2, 3)
('H', 'e', 'l', 'l', 'o')

It follows the same indexing and slicing as Lists.

In [102]:
print(tup3[1])
tup5 = tup4[:3]
print(tup5)

2
('H', 'e', 'l')

#### Mapping one tuple to another

In [103]:
(a,b,c)= ('alpha','beta','gamma')

In [104]:
print(a,b,c)

alpha beta gamma

In [105]:
d = tuple('RajathKumarMP')
print(d)

('R', 'a', 'j', 'a', 't', 'h', 'K', 'u', 'm', 'a', 'r', 'M', 'P')

#### Built-in Tuple functions

**count()** function counts the number of specified element that is present in the tuple.

In [106]:
d.count('a')

3

**index()** function returns the index of the specified element. If the elements are more than one then the index of the first element of that specified element is returned

In [107]:
d.index('a')

1

### Primatives: Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as set() which will initialize a empty set. Also set([sequence]) can be executed to declare a set with elements

In [109]:
set1 = set()
print(type(set1))

<class 'set'>

In [110]:
set0 = set([1,2,2,3,3,4])
print(set0)

{1, 2, 3, 4}

elements 2,3 which are repeated twice are seen only once. Thus in a set each element is distinct.

### Built-in Set Functions

In [111]:
set1 = set([1,2,3])

In [112]:
set2 = set([2,3,4,5])

**union( )** function returns a set which contains all the elements of both the sets without repition.

In [113]:
set1.union(set2)

{1, 2, 3, 4, 5}

**add( )** will add a particular element into the set. Note that the index of the newly added element is arbitrary and can be placed anywhere not neccessarily in the end.

In [114]:
set1.add(0)
set1

{0, 1, 2, 3}

**intersection( )** function outputs a set which contains all the elements that are in both sets.

In [115]:
set1.intersection(set2)

{2, 3}

**difference( )** function ouptuts a set which contains elements that are in set1 and not in set2.

In [116]:
set1.difference(set2)

{0, 1}

**symmetric_difference( )** function ouputs a function which contains elements that are in one of the sets.

In [117]:
set2.symmetric_difference(set1)

{0, 1, 4, 5}

**issubset( ), isdisjoint( ), issuperset( )** is used to check if the set1/set2 is a subset, disjoint or superset of set2/set1 respectively.

In [118]:
set1.issubset(set2)

False

In [119]:
set2.isdisjoint(set1)

False

In [120]:
set2.issuperset(set1)

False

**pop( )** is used to remove an arbitrary element in the set

In [121]:
set1.pop()
print(set1)

{1, 2, 3}

**remove( )** function deletes the specified element from the set.

In [122]:
set1.remove(2)
set1

{1, 3}

**clear( )** is used to clear all the elements and make that set an empty set.

In [123]:
set1.clear()
set1

set()

In [1]:
lst = list(range(10,20))

In [2]:
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
lst.reverse()

In [4]:
lst

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10]

In [5]:
lst.pop(4)

15

In [6]:
lst

[19, 18, 17, 16, 14, 13, 12, 11, 10]

In [7]:
lst[::-1]

[10, 11, 12, 13, 14, 16, 17, 18, 19]

In [10]:
lst.sort()

In [11]:
lst

[10, 11, 12, 13, 14, 16, 17, 18, 19]

In [14]:
lst.reverse()
lst

[19, 18, 17, 16, 14, 13, 12, 11, 10]

In [15]:
sorted(lst)

[10, 11, 12, 13, 14, 16, 17, 18, 19]

In [16]:
lst

[19, 18, 17, 16, 14, 13, 12, 11, 10]

In [20]:
lst=["a","d","asdf"]
lst.sort()
lst

['a', 'asdf', 'd']

In [22]:
lst.sort(key=len)
lst

['a', 'd', 'asdf']

In [28]:
lst=list(range(10,20,1))
lst

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [29]:
lst.sort(key=lambda x: x%2)

In [30]:
lst

[10, 12, 14, 16, 18, 11, 13, 15, 17, 19]